<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">

    <title>hello</title>
</head>
<body>

<nav th:replace="fragments/nav :: nav"></nav>

<div class="container">
    <div class="py-5 text-center">
        <h2>login</h2>
    </div>

    <form action="memberList.html" th:action th:object="${loginForm}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">전체 오류 메시지</p>
        </div>

        <div>
            <label for="userid">Login Id</label>
            <input type="text" id="userid" th:field="*{userid}" class="form-control"
            th:errorclass="field-error">
            <div class="field-error" th:errors="*{userid}"></div>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" th:field="*{password}" class="form-control"
            th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}"></div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn-primary" type="submit">Log in</button>
            </div>
            <div class="col">
                <button class="btn-secondary" onclick="location.href='memberList.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button">Cancel</button>
            </div>
        </div>
    </form>
</div>

<div th:replace="fragments/footer :: footer" ></div>
</body>
</html>